@import "./reset.css";
@import "./swiperbanner.css";

body {
    font-family: "Mulish", sans-serif;
}

.header {
    background-color: #DDE5F2;
    font-size: 17px;
    font-weight: 400;
}

.container-header {
    display: flex;
    align-items: center;
    margin-left: 70px;
    margin-right: 50px;
}

.menu-mobile {
    display: none;
    border-style: none;
    background-color: #DDE5F2;
    font-size: 30px;
}

.links-pages {
    align-items: center;
    display: flex;
}

.links-pages-mobile {
    position: fixed;
    top: 0;
    left: -200%;
    width: 100%;
    height: 100vh;
    z-index: 2;
    display: flex;
    transition: 600ms ease-in-out;
}

.links-pages-mobile.menu-open {
    left: 0;
}



.links-pages a {
    text-decoration: none;
    color: 000000;
    text-decoration: none;
    color: 000000;
    margin: 44px;

}

.links-pages a:hover {
    color: #FCBF02;
}

.container-menu-mobile {
    width: 50%;
    height: 100%;
    display: flex;
    z-index: 1;
    background-color: #DDE5F2;
    flex-direction: column;
}

.menu-mobile:hover {
    color: #FCBF02;
}

.container-menu-mobile ul {
    margin: 30px 0 0 40px;
}

.container-menu-mobile ul li {
    margin-bottom: 20px
}




/*description main banner (social medias, warranty and qualificated profissional)*/

.description-main-banner {
    background-color: DDE5F2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px;
}

.description-main-banner a {
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 15px;
    font-weight: 400;
}


/*Carousel*/


/*Cards services*/

.cards-services {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title-card-services span {
    color: FCBF02;
}

.title-card-services p {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 65px;
    margin-bottom: 30px;
}

.container-images-cards-services {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 54px;
}

.container-images-cards-services img {
    width: 387px;
    height: 600px;
}

.images-cards-services__wrapper {
    position: relative;
}

.cards-services__text {
    text-transform: uppercase;
    border-bottom: #fff;
    color: #fff;
    border-style: solid;
    position: absolute;
    margin-top: 0;
    top: 50%;
    font-size: 30px;
    text-align: center;
    padding-bottom: 13px;


}

.images-cards-services__wrapper::before {
    background-color: #101E32;
    content: "";
    width: 387px;
    height: 600px;
    display: block;
    position: absolute;
    background: rgba(196, 173, 0, 0.18);
    background: -moz-linear-gradient(top, rgba(196, 173, 0, 0.18) 2%, rgba(170, 163, 108, 0.3) 58%, rgba(158, 158, 158, 0.3) 84%);
    background: -webkit-gradient(left top, left bottom, color-stop(2%, rgba(196, 173, 0, 0.18)), color-stop(58%, rgba(170, 163, 108, 0.3)), color-stop(84%, rgba(158, 158, 158, 0.3)));
    background: -webkit-linear-gradient(top, rgba(196, 173, 0, 0.18) 2%, rgba(170, 163, 108, 0.3) 58%, rgba(158, 158, 158, 0.3) 84%);
    background: -o-linear-gradient(top, rgba(196, 173, 0, 0.18) 2%, rgba(170, 163, 108, 0.3) 58%, rgba(158, 158, 158, 0.3) 84%);
    background: -ms-linear-gradient(top, rgba(196, 173, 0, 0.18) 2%, rgba(170, 163, 108, 0.3) 58%, rgba(158, 158, 158, 0.3) 84%);
    background: linear-gradient(to bottom, rgba(196, 173, 0, 0.18) 2%, rgba(170, 163, 108, 0.3) 58%, rgba(158, 158, 158, 0.3) 84%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c4ad00', endColorstr='#9e9e9e', GradientType=0);
}

.images-cards-services__wrapper:hover {
    position: static;
    background: none;
    display: flex;
    transition: left 1000ms ease-in-out;
    background-color: white;
}


.cards-services-installation {
    right: 0;
    max-width: 80%;

}

.cards-services-clean {
    width: 100%;
}

.cards-services-maintenance {
    left: 0;
    top: 55%;
}

/*Our history*/

.container-our-history {
    display: flex;
    margin-top: 95px;
    align-items: center;
    margin-bottom: 49px;
}

.writing-our-history {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 129px;
    margin-right: 37px;
}

.writing-our-history h1 {
    font-size: 27px;
    text-transform: uppercase;
}

.writing-our-history p {
    margin-top: 25px;
    font-size: 15px;
}

.image-our-history {
    margin-right: 158px;
}

.image-our-history img {

    width: 150px;
    max-width: 300px;
}

/*separation secction*/

.separation-secction {
    width: 100%;
    color: #0B84C4;
    border: #0B84C4;
    border-top-style: groove;
    margin: 0;
}

/*mission*/

.container-mission {
    display: flex;
    margin-top: 39px;
    margin-bottom: 39px;
    align-items: center;
}

.writing-mission {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 129px;
    margin-left: 37px;
}

.writing-mission h1 {
    font-size: 27px;
    text-transform: uppercase;
}

.writing-mission p {
    margin-top: 25px;
    font-size: 15px;
}

.image-mission {
    margin-left: 129px;
}

.image-mission img {

    width: 150px;
    max-width: 300px;
}

/*Vision*/

.container-vision {
    display: flex;
    margin-top: 39px;
    margin-bottom: 39px;
    align-items: center;
}

.writing-vision {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 129px;
    margin-right: 37px;
}

.writing-vision h1 {
    font-size: 27px;
    text-transform: uppercase;
}

.writing-vision p {
    margin-top: 25px;
    font-size: 15px;
}

.image-vision {
    margin-right: 158px;
}

.image-vision img {

    width: 150px;
    max-width: 300px;
}

/*Title our values*/

.title-our-values {
    font-size: 27px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: 36px 0px;
}


/*Our values*/

.container-our-values {
    display: flex;
    align-items: center;
    margin-left: 129px;
    margin-right: 158px;
    gap: 40px;
}

.container-our-values h1 {
    text-transform: uppercase;
    font-size: 27px;
    margin-top: 51px;
    margin-bottom: 12px;
    text-align: center;
}

.container-our-values p {
    font-size: 15px;
    text-align: center;
}


/*title and descreption form*/

.container-form-submit {
    background-color: #101E32;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    color: #fff
}

.title-and-descreption-form {
    margin-top: 32px;
    margin-left: 127px;
}

.title-and-descreption-form h1 {
    text-transform: uppercase;
    font-size: 27px;
}

.title-and-descreption-form p {
    font-size: 15px;
    margin: 18px 0px 48px 0px;
}


/*Form*/

.form-submit {
    margin-left: 127px;
    font-size: 15px;
    margin-bottom: 32px;
}

.class-input-form {
    flex-direction: column;
    display: flex;
    width: 30%;
    max-width: 40%;
    gap: 10px;
}

.class-input-form input {
    margin-bottom: 15px;
}

.container-message-client {
    margin-top: 15px;
}

.container-message-client input {
    width: 140%;
    max-width: 150%;
    height: 150px;
    max-height: 100%;
}


/*Submit*/

.button button {
    width: 162px;
    height: 33px;
    font-size: 15px;
}


/*container division form and footer*/

.container-division-form-and-footer {
    background-color: #DDE5F2;
    width: 100%;
    height: 30px;
}

/*lightwidget*/
.instagram-media {
    width: 100%;
    border: none;
}


/*division icons informations*/

.division-icons-informations {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.class-icons-information {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.class-icons-information h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
}

.class-icons-information p {
    font-size: 13px;
}


/*background static cards informations*/

.background-static-cards-informations {
    background-color: #101E32;
    width: 100%;
    max-width: 100%;
    height: 180px;
}


/*cards background cards information*/

.cards-static-informations-all {
    display: flex;
    position: relative;
    bottom: 100px;
    height: 150px;
    width: 100%;
}

.cards-static-informations {
    background-color: #DDE5F2;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-left: 100px;
    gap: 10px;
    -webkit-box-shadow: 0px 13px 16px -14px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 0px 13px 16px -14px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 13px 16px -14px rgba(0, 0, 0, 0.68);
}

.cards-static-informations img {
    width: 40%;
    height: 50%;
}

.description-cards-static-informations h1 {
    text-transform: uppercase;
    white-space: nowrap;
}

.description-cards-static-informations p {
    font-size: 13px;
    margin-top: 10px;
}


/*division body footer*/

.division-body-footer {
    background-color: #101E32;
    border-color: #101E32;
    height: 15px;
}


/*Footer institutional*/

.container-footer {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin: 30px 0px 50px 0px;
}

.container-footer a {
    text-decoration: none;
    color: #000;
}

.container-footer li {
    font-size: 15px;
    margin: 8px 0 8px 0;
}

.container-footer h1 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.institutional {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.service-area-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

/*Payment and social media*/

.footer-media-payments {
    display: flex;
    background-color: #DDE5F2;
    justify-content: center;
    gap: 60px;
    align-items: center;
    padding: 10px 35px;
}

.payment-methods {
    display: flex;
    gap: 35px;
}

.social-media {
    display: flex;
    gap: 35px;
    align-items: center;
    max-width: 100%;
    width: 80%;
}

.social-media img {
    width: 32px;
    max-width: 100%;
    height: 39px;
}


/*Cnpj and development*/

.cnpj-development-footer {
    display: flex;
    align-items: center;
    background-color: #101E32;
    justify-content: space-evenly;
    padding: 10px 35px;
}

.cnpj-development-footer a {
    text-decoration: none;
    color: #DDE5F2;
}

.cnpj-development-footer p {
    color: #DDE5F2;
}




@media (max-width:768px) {
    .menu-bar {
        display: none;
        visibility: hidden;
    }

    .menu-mobile {
        display: block;
    }

    .container-header {
        align-items: center;
        justify-content: center;
        font-size: 28px;
    }

    .container-header:hover {
        color: #FCBF02;
        transition: 400ms ease-in-out;
    }

    .container-header a:hover {
        color: #FCBF02;
    }

    .link-mobile {
        text-decoration: none;
        color: #000;

    }

    .container-images-cards-services {
        flex-direction: column;

    }

    .container-our-history {
        flex-direction: column;
        align-items: center;
        margin: 30 50px 10 50px;
        display: flex;
        background: #101E32;
        margin: 0;
        color: white;
        margin-top: 28px;
        padding: 35px;
    }

    .separation-secction {
        width: 100%;
        color: #0B84C4;
        border: #0B84C4;
        border-top-style: groove;
        margin: 0;
    }

    .writing-our-history {
        margin: 0;
        display: flex;
        align-items: center;
    }

    .image-our-history {
        margin: 0;
        display: none;
    }

    .container-vision {
        flex-direction: column;
        align-items: center;
        margin: 30px 50px 30px 50px;
        display: flex;
        background: #101E32;
        margin: 0;
        color: white;
        padding: 35px;
    }

    .writing-vision {
        margin: 0;
        display: flex;
        align-items: center;
    }

    .image-vision {
        margin: 0;
        display: none;
    }

    .container-mission {
        flex-direction: column;
        align-items: center;
        margin: 30px 50px 30px 50px;
        display: flex
    }

    .writing-mission {
        margin: 0;
        display: flex;
        align-items: center;
    }

    .image-mission {
        margin: 0;
        display: none;
    }

    .container-values {
        flex-direction: column;
    }

    .division-icons-informations {
        max-width: 100%;
        padding: 10px 35px;
        align-items: center;
        gap: 30px;
    }

    .background-static-cards-informations {
        height: 90px;
    }

    .cards-static-informations-all {
        max-width: 100%;
        align-items: center;
        margin: 10px 35px;
        width: 90%;
        padding: 0;
        bottom: 79px;
        gap: 15px;
    }

    .cards-informations {
        height: 0;

    }

    .cards-static-informations {
        gap: 0;
        margin: 0;
        width: 100%;
        padding: 0;
        font-size: 10px;
    }

    .cards-static-informations img {
        width: 20%;
        height: 25%;
        padding: 0 0 0 10px;
    }

    .description-cards-static-informations {
        padding: 10px;
    }

    .container-footer {
        margin-top: 18%;
        gap: 30px;
        padding: 10px 35px;
        margin-left: 40px;
    }

    .menu-mobile-overflow {
        width: 100%;
        height: 100%;
        position: absolute;
        background: black;
        opacity: 49%;
        left: 0;
        right: 0;
    }

    .container-our-values {
        flex-direction: column;
        align-items: center;
        margin: 0;
        gap: 0;
    }

    .container-innovation-quality {}

    .innovation:hover h1 {
        font-size: 40px;
        color: #FCBF02;
        transition: 400ms ease-in-out;
    }

    .innovation:hover p {
        font-size: 20px;
        transition: 400ms ease-in-out;
    }

    .quality:hover h1 {
        font-size: 40px;
        color: #FCBF02;
        transition: 400ms ease-in-out;
    }

    .quality:hover p {
        font-size: 20px;
        transition: 400ms ease-in-out;
    }

    .diversity {
        padding: 0 36px 0 36px;

    }

    .diversity:hover h1 {
        font-size: 40px;
        color: #FCBF02;
        transition: 400ms ease-in-out;
    }

    .diversity:hover p {
        font-size: 20px;
        transition: 400ms ease-in-out;
    }

    .communication {
        padding: 0 36px 0 36px;
    }

    .communication:hover h1 {
        font-size: 40px;
        color: #FCBF02;
        transition: 400ms ease-in-out;
    }

    .communication:hover p {
        font-size: 20px;
        transition: 400ms ease-in-out;
    }

    .responsibilitys {
        padding: 0 36px 0 36px;
    }

    .responsibilitys:hover h1 {
        font-size: 40px;
        color: #FCBF02;
        transition: 400ms ease-in-out;
    }

    .responsibilitys:hover p {
        font-size: 20px;
        transition: 400ms ease-in-out;
    }

    .container-form-submit {
        margin-top: 50px;

    }

    .title-and-descreption-form {
        margin: 5% 15%;
    }

    .title-and-descreption-form p {
        margin: 18px 0 0 0;
    }

    .form-submit {
        max-width: 100%;
        margin: 0 15% 6%;
        width: 100%;
        font-size: 15px;
    }
    
    .class-input-form {
        width: 100%;
    }
    
    
    .input-form-style-class{
        border-radius: 3px;
        border-style: hidden;

    }

    .class-input-form textarea {
        border-radius: 3px;
        border-style: hidden;

    }
    .cnpj-development-footer {
        justify-content: center;
        gap: 12px;
    }

    .cnpj-development-footer p {
        max-width: 100%;
        font-size: 10px;
    }

    .cnpj-development-footer a {
        max-width: 100%;
        font-size: 10px;
    }

    .payment-methods {
        display: flex;
        gap: 35px;
        align-items: center;
        max-width: 100%;
        width: 80%;
    }

}